// Footer Styles
// ------------------------------------------------------------------------------

footer{
	background-color: $gray;
	color: #fff;
	border-bottom: 10px solid $fuschia;
	padding-top: 2em;

	h1,h2,h3,h4,h5,h6{
		color: #fff;
	}

	a{
		color: #fff;

		&:hover, &:focus, &:active{
			color: $fuschia;
		}
	}
}

.social{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__item{
		margin:0 0.5em 0 0;
		padding: 0;
	}

	&__link{
		border-bottom: none;

		&:hover, &:focus{
			border-bottom: none;
		}
	}

	&__icon{
		width: 30px;
		height: 30px;
		fill: #fff;
		border: 3px solid transparent;

		&:hover, &:active, &:focus{
			border: 3px solid $fuschia;
		}
	}
}