// Header Styles
// -----------------------------------------------------------------------------

header{

	h1{
		text-align: center;
		padding-top: 0;
		margin: 0.25em auto;
		line-height: 0;

		@include breakpoint(medium){
			margin: 0.5em auto;
		}
	}

	.logo{
		background-color: rgba(255, 255, 255, 0.25);
		padding: 0.25em;
		display: inline-block;

		&:hover, &:focus, &:active{
			background-color: rgba(255, 255, 255, 0.75);
		}
	}
}







